p {
    text-align: center;
}

main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

main img {
    width: 50%;
}

main section:nth-child(2){
    border-top: black solid thin;

}

main section {
    padding: 3em;
    flex-basis: 100%;
    flex-grow: 1;
}


@media screen and (max-width: 800px) {
    main img {
      margin-bottom: 3em;
    }
  }