main ul {
    display: flex;
    flex-wrap: wrap;
    margin:2em;
    padding: 0;
}

main li {
    text-align: center;
    flex-basis: 55%;
    flex-grow: 1;
    margin-bottom: 5em;
}


.container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%; /*Permet de garder le ratio 16:9*/
  }

  .responsive_iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

