main{
    display: flex;
    flex-wrap: wrap;
}


main ul{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 3em;
    flex-basis: 100%;
}

main li{
    display: flex;
    flex-wrap: wrap;
    margin:1em;
    flex-basis: 40%;
    flex-grow: 1;
}

figure {
    font-size: 150%;
    flex-basis: 100%;
    width: 30%;
    text-align: center;
    font-style: italic;
    text-indent: 0;
    margin: 0.5em;
    padding: 0.5em;
  }

