main ul li:nth-child(even){
    box-shadow: -5px 5px 15px black;
    }

main li{
    border: thin black solid;
    box-shadow: 5px 5px 15px black;
}

main ul li:nth-child(even) img{
    float: right;
}

main ul{
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
    padding: 5em;
}

main li{
    margin-bottom: 4em;
    flex-grow: 1;
}

main img{
    float:left;
    width: 20vw;
    height: 20vh;
    margin: 1em;
}

main p {
    text-align: justify;
    padding: 1.5em
}