
table,th,td { 
    border: thin solid black;
    
}

table a,td,th,tr,b,i,span,small{
    color:black;
}

main{
    width: 100%;
    margin: auto;
}

table{  
    margin: auto;
    font-size: 100%;
    box-shadow: 1px 1px 5px black;
    background-color: rgb(94, 170, 221);
    border-collapse: collapse;
    width: 80%;
}

@media screen and (max-width: 800px) {
    table {
      margin-top: 3em;
      margin-bottom: 3em;
    }
    main p,main a{font-size: 100%;}
  }