body{
    display:flex;
    flex-wrap: wrap;
    background-color: rgb(94, 170, 221);
    width: 100%;
    margin: 0;
}

header{
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
    width: 100%;
}
header img {
    flex-basis: 100%;
    flex-grow: 1;
    width: 100%;
}
nav{
    width:100%;
    margin-left:0;
    border: thin solid black;
}
nav ul {
    
    display: flex;
    justify-content: space-evenly;
    padding-left: 0;
    width: 100%;
}

nav a {
    font-size: 150%;
    font-weight: bold;
}

nav a:hover{
    color: red;
    font-size: 200%;
}

nav p{
    padding:0;
}

li {list-style-type: none;}
a{ text-decoration:none;}

* {
    font-family: monospace;
    color: white;
}

p,a{font-size: 125%;}

main{
    flex-basis: 70%;
    flex-grow: 1;
}

h2{
    text-align: center;
}

aside{
    border: thin solid black;
    box-shadow: 0px 0px 10px black;
    flex-basis:15%;
    padding: 1.5em;
    margin: 2em;
    height: 50%;

}

aside li{
    padding:0.5em;
}

aside img{
    width:10%;
    height: 10%;
}



aside img:nth-child(2){
    width: 30%;
    height: 30%;
    margin-left: 35%;
    

}

footer {
    flex-basis:100%
}

footer p{
    text-align: center;
    border: thin solid black;
    padding: 1em
}

@media screen and (max-width: 800px) {
    aside {
      margin: auto;
      margin-top: 4em;
      margin-bottom: 4em;
    }
    nav p,nav a {
        font-size: 100%;
    }
    nav a:hover{
        color: red;
        font-size: 125%;
    }
  }